# Домашняя Работа !!
# Работаем только с файлом california_housing_test.csv

In [8]:
import pandas as pd

1)Прочесть с помощью pandas файл california_housing_test.csv

In [9]:
df = pd.read_csv('california_housing_test.csv')

2)Посмотреть сколько в нем строк и столбцов

In [10]:
df.shape

(3402, 9)

3)Определить какой тип данных имеют столбцы

In [11]:
df.dtypes

Unnamed: 0              int64
longitude             float64
latitude              float64
housing_median_age      int64
total_rooms             int64
total_bedrooms          int64
population              int64
households              int64
median_income         float64
dtype: object

4)Показать longitude где housing_median_age < 35

In [12]:
df.loc[df['housing_median_age'] < 35, ['longitude']]

      longitude
0       -117.66
1       -117.07
2       -117.91
3       -117.19
4       -119.58
...         ...
3392    -122.10
3393    -117.52
3395    -117.01
3398    -117.88
3399    -118.32

[2216 rows x 1 columns]

5)Показать столбцы longitude и latitude

In [13]:
df[['longitude', 'latitude']]

      longitude  latitude
0       -117.66     35.60
1       -117.07     32.71
2       -117.91     33.61
3       -117.19     34.05
4       -119.58     36.83
...         ...       ...
3397    -118.33     34.09
3398    -117.88     34.09
3399    -118.32     34.26
3400    -118.12     33.80
3401    -118.19     33.78

[3402 rows x 2 columns]

6)Выбрать данные где total_rooms < 2000 и population > 1500

In [14]:
df[(df['total_rooms'] < 2000) & (df['population'] > 1500)]

,Unnamed: 0,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
12,13,-118.21,33.79,39,1598,458,1691,399,2.3605
18,19,-122.41,37.80,30,1821,738,1648,684,0.8836
69,70,-117.93,34.01,33,1733,361,1757,375,4.2266
100,101,-121.24,36.33,13,1642,418,1534,388,3.1222
120,121,-118.22,33.90,35,1649,424,1786,388,1.4091
...,...,...,...,...,...,...,...,...,...
3151,3152,-118.36,34.22,37,1512,348,1545,351,3.7663
3172,3173,-117.89,33.74,32,1562,365,2145,347,2.9167
3215,3216,-118.23,33.92,32,1735,430,1699,386,1.1793
3332,3333,-119.76,36.71,29,1745,441,1530,391,1.5611
3372,3373,-118.20,33.99,35,1705,523,2252,508,2.3421

7)Определить какое максимальное и минимальное значение **population**

In [15]:
print(df['population'].max())
print(df['population'].min())

35682
8

8)(Доп) Показать максимальное **longitude**, где **median_income** > 3

In [16]:
df[df['median_income'] > 3]['longitude'].max()

-115.37

9)(Доп) Узнать какая максимальная **total_bedrooms** при минимальном значении **households**

In [19]:
df[df['households'] == df['households'].min()]['total_bedrooms'].max()

7